/* Bootstrap Small */
@media only screen and (min-width: 576px) {
  .container-fluid {
    width: 85%;
  }    
}

/* Bootstrap Medium */
@media only screen and (min-width: 768px) {
  .container-fluid {
    width: 70%;
  }
}

/* Bootstrap Large */
@media only screen and (min-width: 992px) {
  .container-fluid {
    width: 60%;
  }
}

/* Bootstrap Extra Large */
@media only screen and (min-width: 1200px) {
  .container-fluid {
    width: 650px;
  }
}

/* Custom Styles */
.header-img {
  width: 100vw;
  position: relative;
  max-width: 100vw;
}

.header-img img {
  width: 100%;
}

.my-link {
  font-weight: bold;
  color: black !important;
  text-decoration: underline dotted;
}

.h3, h3 {
  font-size: 1.5rem;
}

.h4, h4 {
  font-size: 1.25rem;
}

/* CUSTOM BOOTSTRAP THEME */
