/* Bootstrap Small */
@media only screen and (min-width: 576px) {
  .container-fluid {
    width: 85%;
  }    
}

/* Bootstrap Medium */
@media only screen and (min-width: 768px) {
  .container-fluid {
    width: 70%;
  }
}

/* Bootstrap Large */
@media only screen and (min-width: 992px) {
  .container-fluid {
    width: 60%;
  }
}

/* Bootstrap Extra Large */
@media only screen and (min-width: 1200px) {
  .container-fluid {
    width: 650px;
  }
}